# Environmental variables (Bảo mật)
.env
*.env
backend/.env
frontend/.env
.env.local

# Virtual Environments (Python)
.venv/
venv/
ENV/

# Python Cache (Bỏ qua TẤT CẢ __pycache__ và file .pyc ở mọi folder con)
**/__pycache__/
*.py[cod]
*$py.class

# Node / Frontend Dependecies & Cache
**/node_modules/
.vite/
dist/
build/
*.map

# IDE & System
.vscode/
.idea/
.DS_Store